@import '../../styles/variables';

mat-toolbar {
	position: fixed;
	top: 0;

    .header-spacer {
        flex: 1 1 auto;
    }

    #logo-svg {
        height: auto;
        width: 5rem;

        .st1 {
            fill: #9C0404;
        }
    }

    a,
    button {
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: lighter;
        font-size: 1rem;
    }


    .nav_link {
        margin: .5rem;


        &::before,
        &::after {
            content: '';
            height: .7rem;
            width: .7rem;
            position: absolute;
            transition: all .35s ease;
            opacity: 0;
        }

        &::before {
            content: '';
            right: 0;
            top: 0;
            border-top: 1px solid map-get($main-colors, 'dark');
            border-right: 1px solid map-get($main-colors, 'dark');
            transform: translate(-100%, 20%);
        }

        &:after {
            content: '';
            left: 0;
            bottom: 0;
            border-bottom: 1px solid map-get($main-colors, 'dark');
            border-left: 1px solid map-get($main-colors, 'dark');
            transform: translate(100%, -20%);

        }

        &:hover:before,
        &:hover:after {
            transform: translate(0, 0);
            opacity: 1;
        }

    }



    .contact-btn-style {
        border: 1px solid;
        border-radius: 0;
        overflow: hidden;
        position: relative;

        span {
            z-index: 20;
        }

        &:after {
            background: #fff;
            content: "";
            height: 9.7rem;
            left: -4.7rem;
            opacity: .2;
            position: absolute;
            top: -3.2rem;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 3.2rem;
            z-index: -10;
        }

        &:hover {

            &:after {
                left: 120%;
                transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
    }

    &.on-home-nav .nav_link {
        &::before {
            border-top: 1px solid map-get($main-colors, 'light');
            border-right: 1px solid map-get($main-colors, 'light');

        }

        &:after {
            border-bottom: 1px solid map-get($main-colors, 'light');
            border-left: 1px solid map-get($main-colors, 'light');


        }
    }

}
mat-slide-toggle{
	transform: scale(1.5);

}



