{
	"singleQuote": true,
	"trailingComma": "none",
	"tabWidth": 4,
	"htmlWhitespaceSensitivity": "ignore",
	"printWidth": 140,
	"arrowParens": "always",
	"endOfLine": "auto",
	"useTabs": true,
	"semi": true
}
