<div class="projects-page d-flex flex-column justify-content-center"
	 [ngStyle]="maxWidth | async">
	<!-- [ngStyle]="{'background-position': on1440px === false ? 'center 4rem' : 'center bottom' }"> -->

	<h1 class="mt-auto mx-auto">Projects</h1>

	<div class="d-flex flex-wrap flex-row mx-5 mt-0 justify-content-center">

		<!-- <div class="p-3">
			<img src="../../assets/images/products/project-1.jpg"
				 class="img-fluid"
				 alt="">
		</div>

		<div class="p-3">
			<img src="../../assets/images/products/project-2.jpg"
				 class="img-fluid"
				 alt="">
		</div>

		<div class="p-3">
			<img src="../../assets/images/products/project-3.jpg"
				 class="img-fluid"
				 alt="">
		</div>



		<div class="p-3">
			<img src="../../assets/images/products/project-4.jpg"
				 class="img-fluid"
				 alt="">
		</div> -->

		<!-- the inserted card template -->


	</div>

	<app-copyright class="mt-auto mx-auto"></app-copyright>
</div>
