@import '../../../styles/variables';

.social-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    margin-right: 1.5rem;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: inherit;
        font-size: 2.5rem;
        transition: .1s ease-in-out all;


        &:nth-child(2) {
            margin: 1rem 0
        }

        &:hover {
            transform: scale(.9);
        }
    }
}

div.navigation-box {
    position: absolute;
    right: 0;

    a.navigator-btn {
        display: flex;
        align-self: center;
        align-items: center;
        writing-mode: tb;
        transform: rotate(180deg);
        background-color: white;
        color: map-get($main-colors, "dark");
        padding: 2rem 0;
        margin: 0;
        line-height: normal;
        border-radius: 0 1rem 1rem 0;
        font-weight: 100;
        font-size: .9rem;
        min-width: 3.2rem;
		text-decoration: none;
		overflow: hidden;


        span.scroll-title {
            display: inline-flex;
            align-items: center;

            &.down-arrow {


                &::before {
                    content: "\a";
                    border-style: solid;
                    border-width: .7rem;
                    border-color: transparent transparent #232323 transparent;
                    position: relative;
                    top: -.6rem;
                }

                &:hover::before {
                    animation: blinking 4s ease-in-out infinite;
                }
            }

            &.up-arrow {


                &::after {
                    content: "\a";
                    border-style: solid;
                    border-width: .6rem;
                    border-color: #232323 transparent transparent transparent;
                    position: relative;
                    bottom: -.6rem;

                }

                &:hover::after {
                    animation: blinking 4s ease-in-out infinite;
                }

            }
        }


    }
}
