<header>
	<app-header></app-header>
</header>


	<div [@routerTransition]="getState(outlet)" class="h-100">
		<router-outlet #outlet="outlet"></router-outlet>
	</div>

	<app-scroll-box [scrollBoxON]="onProfilePage(outlet)" *ngIf="onHomePage(outlet)"  ></app-scroll-box>



<app-menu-panel></app-menu-panel>

<!-- COOKIE MODULE  -->
<!-- https://openbase.io/js/ngx-cookieconsent -->
<!-- https://particles.matteobruni.it/Samples#hollowknight -->
<!-- https://www.freakyjolly.com/scroll-progress-bar-angular/#.XzZmqOgzaUl -->

<!-- <Particles id="tsparticles"
[options]="particlesOptions">
</Particles> -->
	<!-- content -->
