<div class="pt-5 project-case d-flex flex-column justify-content-center" *ngIf="!!currentProject" >
	<!-- INTRO PART ------------------------- -->
	<div class="pt-5 row justify-content-center flex-column-reverse flex-xl-row flex-md-row ">
		<div class="col-12 col-md-4 col-xl-3">
			<img class="img-fluid"
				 [src]="currentProject.responsiveViewImg"
				 alt="Responsive view of the project case">
				 <!-- Stock image used from AdobeStock and modified by me: https://stock.adobe.com/hu/search?filters%5Bcontent_type%3Aphoto%5D=1&filters%5Bcontent_type%3Aillustration%5D=1&filters%5Bcontent_type%3Azip_vector%5D=1&filters%5Bcontent_type%3Avideo%5D=1&filters%5Bcontent_type%3Atemplate%5D=1&filters%5Bcontent_type%3A3d%5D=1&filters%5Binclude_stock_enterprise%5D=0&filters%5Bis_editorial%5D=0&filters%5Bfree_collection%5D=0&filters%5Bcontent_type%3Aimage%5D=1&order=relevance&safe_search=1&limit=100&search_page=1&serie_id=318341541&search_type=see-more&get_facets=0&asset_id=318341201  -->
			<div>
				<div class="icon-box d-flex justify-content-center align-items-center">

					<a class="m-4"
					   mat-icon-button
					   matTooltip="Go back to projects"
					   matTooltipPosition="left"
					   matTooltipHideDelay="100"
					   routerLink='../'>
						<i class="fas fa-arrow-left"></i>
					</a>

					<a class="m-4"
					   mat-icon-button
					   matTooltip="Link to Code"
					   matTooltipPosition="left"
					   matTooltipHideDelay="100"
					   [href]="currentProject.links.githubLink"
					   target="_blank"><i class="fab fa-github"></i></a>

					<a class="m-4"
					   mat-icon-button
					   matTooltip="Live Demo"
					   matTooltipPosition="left"
					   matTooltipHideDelay="100"
					   [href]="currentProject.links.liveDemo"
					   target="_blank"><i class="fas fa-desktop"></i></a>


				</div>
			</div>
		</div>
		<div class="col-10 col-xl-5 col-md-6 align-self-center">
			<h1>{{currentProject.title}}</h1>
			<p>{{currentProject.companyDesc}}</p>
		</div>
	</div>

	<!-- PROBLEM PART ---------------------------------- -->
	<div
		 class="py-5 text-white row red-shape justify-content-center align-items-center flex-column flex-xl-row flex-md-row ">
		<div class="py-5 col-10 col-md-6 col-xl-4 offset-xl-2 offset-md-1 offset-0">
			<h2 class="font-weight-bold">Problem</h2>
			<p>{{currentProject.problem}}</p>

			<div *ngIf="currentProject.restriction">
				<h3 class="mt-5 font-weight-bold"> Restriction</h3>
				<p>{{currentProject.restriction}}</p>
			</div>
		</div>


		<div class="py-5 mx-auto col-10 col-md-3 col-xl-3">
			<img class="mx-auto img-fluid problem w-100"
				 src="../../../assets/images/products/problem.png"
				 alt="Responsive view of the project case">
				 <!-- The image from here: https://pixabay.com/vectors/pixel-cells-problem-technology-3974187/?fbclid=IwAR2z19rbYzHDrw07hmbDkKICXP09_OJO7Yqzq9ALG1bwmbFea9KY8pWaRXk -->

		</div>
	</div>
	<!-- SOLUTION PART -------------------------------------------- -->
	<div class="row justify-content-center align-items-center" #solutionPart>

		<div class="py-5 col-10 col-md-5 col-xl-4 offset-xl-2 offset-md-1 offset-0">
			<h2 class="font-weight-bold">Solution</h2>
			<p>{{currentProject.solution}}</p>
		</div>


		<div class="py-5 mx-auto col-12 col-md-4 col-xl-4 d-flex flex-column align-items-center">
			<img class="img-fluid solution"
				 src="../../../assets/images/products/solution.png"
				 alt="Responsive view of the project case">
				 <!-- The image from here: https://pixabay.com/vectors/pixel-cells-idea-visualization-3976295/?fbclid=IwAR1YeV88ZwnN-BNEDCdc7tnHwNJLITQa8ocS4-fZY3O0upalKYvv3WgmBjs -->
		</div>

	</div>

	<!--  MY ROLE TECH PART --------------------------------------------- -->
	<div class="row align-items-center justify-content-center ">

		<div class="py-5 col-10 col-md-4 col-xl-3 offset-xl-2 offset-md-1 offset-0 align-self-start">
			<h3 class="font-weight-bold">Technologies used</h3>
			<p class="no-indent">
				<span *ngFor="let technology of currentProject.technologies">► {{technology}}<br></span>
			</p>
			<h3 class="font-weight-bold">Notable features</h3>
			<p class="no-indent">
				<span *ngFor="let feature of currentProject.features">► {{feature}}<br></span>
			</p>
		</div>


		<div class="py-5 mx-auto col-10 col-md-4 col-xl-3">
			<h3 class="font-weight-bold">My Role</h3>

			<p class="no-indent">
				<span *ngFor="let role of currentProject.myRole">► {{role}}<br></span>
			</p>

		</div>

	</div>


	<app-copyright class="mx-auto mt-auto"></app-copyright>

</div>
