.copyright {
    filter: opacity(0.5);
	font-weight: 100;
	// width: fit-content;

    a.mat-button {
		font-weight: 100;
    }

    span.copyNotif {
        background-color: white;
		color: black;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
    }

}
