#tsparticles {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section2 {
    // height: 100vh;

    .main-content {

        // & .onIpad {


        //     // &.text-box {}

        //     // @media (max-width: 375px) {
        //     // 	body {
        //     // 		font-size: 2rem;

        //     // 	}
        //     //   }


        // }
    }
}
