<div class="section2 d-flex .bg-transparent w-100 justify-content-center align-items-center" [ngClass]="{'onIpad': breakpointObs$ | async}">

	<div class="d-flex flex-column h-100 main-content">

		<div class="text-box mt-auto mx-auto particles-shadow aligning-bg-n-text user-select-none">
			<h1 >Technical Knowledge</h1>

			<p class="par"> I started to use CSS and HTML 5 years ago and since then, I have been using
				them in every project of my
				own.
				I always try to make my projects more usable and interesting by bringing them to life with JavaScript.
				I also love to use Photoshop to correct images and align them to perfectly fit into a project.</p>

			<p class="par"> At the beginning of 2020 I realized I am more interested in Front-end
				development, so I jumped into the
				depth of JavaScript to get a more solid foundation about it.</p>

			<p class="par"> In the middle of 2020 I started to learn Angular because I wanted to utilize
				my
				generated spare time because of the quarantine.</p>

			<p class="par"> This time has been really beneficial for me, because I was able to learn new
				things such as using
				Bootstrap and applying Material Design beside the Typescript in Angular.</p>

			<p class="par"> After the lockdown was over in school I got a strong grasp and understanding
				of Back-end development by
				creating my first API with MSSQL and Express called "Student Feedback"</p>

			<p class="par"> Since lots of projects contains a lot of bug and maybe separate version I
				also started to learn version
				control by using GitHub(through Git-bash).</p>
		</div>



		<app-copyright class="mt-auto mx-auto"></app-copyright>

	</div>
	<Particles id="tsparticles"
	[options]="particlesOptions">
	</Particles>

</div>
