@import '../../styles/variables';



:host ::ng-deep .text-box {
	// width: 45vw;

	h1 {
		font-size: 3.8vw;
		line-height: normal;
		font-weight: 900;
	}

	p {
		text-indent: 2vw;
		font-size: 1vw;
		font-weight: lighter;
		line-height: normal;
	}

	div {

		// .signiture {
		// 	margin-top: 3vh;
		// }
	}
}
