<!-- <div class="section1 d-flex flex-column justify-content-center" cdkDrag cdkDragLockAxis="y" #dragRef='cdkDrag'> -->
<div class="section1 d-flex flex-column justify-content-center bg-transparent"
	 [ngClass]="{'onIpad': breakpointObs$ | async}">
	<div class="row justify-content-around h-100 align-items-center pasz">

		<div class="text-box px-5 px-lg-5 pb-lg-2 pb-2 pt-5 col-12 col-sm-10 col-xl-5 mt-5 mt-xl-0">
			<h1>A couple of things about me...</h1>

			<p> I'm from Hungary and recently living in Aalborg studying multimedia design at UCN (University
				College of
				Northern Denmark). </p>

			<p> I was always interested in computers and how they work. After my first computer I decided to go to
				an IT
				High School. I learned the programing basics and English. After finishing it I went to an another
				school
				and started a course about micro controllers and electro technics. </p>

			<p>Even though I love electrical engineering (fun fact: In my free time I produce music and I learned a
				lot
				about sounds and how we can "synthesize" them) I realized I like programing more. So I wanted to
				broaden
				my knowledge and try something new so I did a short course in Web-design. This was the point I
				realized
				I want to be work in this field and show to myself I can stand on my feet. I moved to Denmark and
				started my studies here and my journey to become a developer.</p>

			<p>I enjoy everything where I can be creative, it could be music or programming. I always keep in focus
				the
				goals and try to achieve the best result I can. I like challenges and be the man who solve them.</p>


			<div class="row justify-content-lg-between justify-content-center align-items-center">

				<div class="col-12 col-sm-4 col-lg-4 col-xl-4">
					<a mat-raised-button
					   href="../../../assets/my_cv.pdf"
					   download="Mark_Bence_Kiss_2020_CV_FrontEndDeveloper"
					   class="text-decoration-none h-100 cta-btn"
					   color="accent">Download my CV</a>
				</div>

				<div class="col-10 col-sm-6 col-lg-6 col-xl-6 d-flex h-100">

					<img class="signiture img-fluid mt-4"
						 src="../../../assets/images/mark_bence_kiss.svg"
						 alt="My signiture">
				</div>

			</div>
		</div>

		<div class="image-box col-12 col-sm-8 col-xl-5 d-none d-lg-flex d-xl-flex w-100">
			<img src="../../../assets/images/blob-with-text-and-me.svg"
				 alt="I am with a blob in the background" class="d-xl-block d-md-none d-none">

			<img src="../../../assets/images/blob-with-text-and-me-noarrow.svg"
				 alt="I am with a blob in the background" class="d-xl-none d-md-block d-block">
		</div>

	</div>

	<app-copyright class="mt-auto mx-auto"></app-copyright>

</div>
