<main class="home-container text-center text-sm-left text-lg-left text-xl-left row"
	  [@HomePage]>

	<div class="left-side col-xl-6 col-12 d-flex justify-content-center flex-column h-100">

		<h1 class="text-nowrap">Hi, my name is <span>Ben.</span></h1>

		<div class="intro-box">

			<h3>I enjoy many things in life, but at the end of the day my real desire is to build. Build something that
				makes
				tomorrow a better place.<span class="blinking">_</span>
			</h3>
			<div class="title-of-me">Front End Developer</div>

			<div class="cta-btn-box mb-auto">

				<a mat-raised-button
				   type="button"
				   class="text-decoration-none"
				   color='secondary'
				   [routerLink]="[ '/projects' ]"
				   routerLinkActive="active">My Projects</a>

				<a mat-raised-button
				   type="button"
				   color='accent'
				   class="text-decoration-none"
				   [routerLink]="[ '/profile' ]"
				   routerLinkActive="active">Read about Me</a>

			</div>



			<div class="social-box">
				<a mat-icon-button
				   matTooltip="Professional LinkedIn"
				   matTooltipPosition="above"
				   matTooltipHideDelay="100"
				   href="https://www.linkedin.com/in/mark-bence-kiss/"
				   target="_blank"><i class="fab fa-linkedin"></i></a>
				<a mat-icon-button
				   matTooltip="Personal Stuffs"
				   matTooltipPosition="above"
				   matTooltipHideDelay="100"
				   href="https://www.instagram.com/bassexplorer.beni/"
				   target="_blank"><i class="fab fa-instagram"></i></a>
				<a mat-icon-button
				   matTooltip="My Code Projects"
				   matTooltipPosition="above"
				   matTooltipHideDelay="100"
				   href="https://github.com/bassexplorer"
				   target="_blank"><i class="fab fa-github"></i></a>
			</div>

		</div>
	</div>

	<!-- <div class="right-side col-xl-6 col-12"> -->
	<div class="right-side col-xl-6 ">

		<div class="d-flex align-items-end justify-content-center">
			<img class="image-of-me img-fluid d-none d-sm-none d-md-flex d-xl-flex"
				 src="../../assets/images/me.png"
				 alt="An image of Mark Bence Kiss"
				 draggable="false">
		</div>

		<div class="circle-clip-path w-100 h-100 d-none d-xl-flex"
			 id="circle-svg"></div>
	</div>

	<div class="circle-clip-path d-flex d-lg-flex d-xl-none"
			 id="circle-svg"></div>

</main>
