<main class="contact-page d-flex flex-column justify-content-between">

	<div class="form-container mt-auto">
		<h1>Get in touch with me.</h1>
		<div class="row">

			<form [formGroup]="contactForm" class="w-100"
				  (ngSubmit)="onSubmit()">


				<div class="form-group">
					<mat-form-field class="name-input"
									appearance="fill">
						<mat-label>Your Name</mat-label>
						<input formControlName="fullName"
							   matInput>
					</mat-form-field>

					<mat-form-field class="email-input"
									appearance="fill">
						<mat-label>Your E-mail</mat-label>
						<input matInput
							   formControlName="email"
							   placeholder="Ex. pat@example.com">

						<mat-error *ngIf="contactForm.hasError('email') && !contactForm.hasError('required')">
							Please enter a valid email address
						</mat-error>
						<mat-error *ngIf="contactForm.hasError('required')">
							Email is <strong>required</strong>
						</mat-error>
					</mat-form-field>

				</div>

				<div class="form-group">
					<mat-form-field class="subject-input"
									appearance="fill">
						<mat-label>The Subject</mat-label>
						<input formControlName="subject"
							   matInput>
					</mat-form-field>
				</div>

				<div class="form-group">
					<mat-form-field class="message-textarea"
									appearance="fill">
						<mat-label>Your Message</mat-label>
						<textarea matInput
								  formControlName="message"
								  placeholder="Yes,I am listening."></textarea>
					</mat-form-field>
				</div>

				<button type="submit"
						mat-raised-button class="submit-btn"
						color="accent">Submit</button>
			</form>

		</div>
	</div>

	<!-- <app-scroll-box [scrollBoxON]="false" ></app-scroll-box> -->
	<app-copyright class="d-flex align-items-end mt-auto"></app-copyright>

</main>
