.contact-page {

    h1 {
        margin: 10vh 0;
        margin-top: 0;
        text-align: center;
    }

    .name-input,
    .email-input,
    .subject-input,
    .message-textarea {
        width: 100%;
    }


    .form-group {
        display: flex;
        margin-bottom: 2vh;
        filter: brightness(2) contrast(0.5);
    }



}
